* {
	font-family: 'Cinzel', serif;
	box-sizing: border-box;
	text-align: center;
}

html, body {
	height: 100%;
}

body {
	background-image: url("../images/dark-clouds.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover contain;
	color: #C0C0C0;
	
}

header {
	background: black;
	opacity: .5;
	border-bottom: solid #C0C0C0 1px;
}

.start-div {
	min-height: 100%;
}

.start-img-div {
	margin-top: 40px;
}

.game-title {
	color: #ffffff;
	font-size: 1.6em;
	font-weight: 700;
	opacity: 1;	
}

.game-section {
	border: solid black 1px;
}

.guess-text {
	margin-top: 20px;
}

#guess-span: {
	color: red;
}

#game-img-div {
	display: none;
}

.img-row {
	margin-top: 25px;
}

#g-o-t {
	font-weight: 700;
}

#gameplay-div {
	display: none;
	margin-top: 50px;
	border: solid #C0C0C0 1px;
	background: black;
	opacity: 0.5;
	height: 25vh;
}

#dashes-div {
	margin-top: 50px;
	height: 25vh;
	border: solid #C0C0C0 1px;
	display: none;
	background: black;
	opacity:0.5;
}

#used-div {
	margin-top: 50px;
	text-align: left;
	display: none;
	height: 25vh;
	border: solid #C0C0C0 1px;
	background: black;
	opacity:0.5;
}

.used-title {
	width: 100%;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: solid #C0C0C0 1px;
	font-weight: 700;
}

.used {
	text-align: left;
	color: #ffffff;
	opacity: 1.0;
}

.first-last {
	color: #ffffff;
	opacity: 1.0;
}

#first { 
	text-align: right;
}

#last {
	text-align: left;
}

.press-start {
	font-weight: 700;

}

@media (max-width: 767px) and (orientation: landscape) {
	#gameplay-div, #used-div, #dashes-div {
		height: 40vh;
	}
}

@media (max-width: 767px) {
	#first { 
		text-align: center;
	}

	#last {
		text-align: center;
	}

	#used-div { margin-bottom: 25px; }

	#gameplay-text h1 {font-size: 1.5em;}
}

@media (min-width: 374px) {
	.game-title {
		font-size: 2em;
	}
}

@media (min-width: 768px) {
	.game-title {
		font-size: 3em;
	}

	
}